.car-carousel {
  padding-top: 8px;
  background-color: #f8f8f8;
  margin: 0;
  
  .tabs-container {
    border-bottom: 1px solid $gray-light;
    
    .nav-tabs {
      border-bottom: none;
    }
  }
  
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 12px 0px;
    text-align: center;
  }
  
  .tab-panel {
    min-height: 141px;
  }

  $arrows-area: 80px;
  
  .slick-arrow {
    margin-top: -10px;
    
    &:first-child {
      left: -$arrows-area;
    }

    &:last-child {
      right: -$arrows-area;
    }
  }
  
  .slick-car {
    margin: auto $arrows-area;
  }
  
  .toggle-car-carousel {
    padding: 14px 12px;
    text-transform: uppercase;
    color: $gray;
    width: 100%;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: $gray-light;
    background-color: #fff;
    
    i {
      float: right;
    }
  }
  
  .car-carousel-category {
    color: $gray-dark;
    font-weight: bold;
  }
  
  .nav-pills {
    padding: 0;
  }
  
  // Garante display block para as abas para garantir a inicializcao correta de plugins
  .tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;
    height: 0px !important;
    overflow: hidden;
  }
  .tab-content > .active, .pill-content > .active {
    min-height: 141px;
    opacity: 1 !important;
  }
  
  @media (min-width: $screen-md-min) {
    h2 {
      width: auto;
    }
  }
}
