.car {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  figcaption{
    display: inline;
    color: #494949;
    margin-right: 15px
  }
  button{
    text-align: left;
    font-size: 0.8em;
    padding: 4px 7px;
    width: 100px;
    img{
      margin: 2px 0 0 0;
      float: right;
    }
  }
  
  a:hover, a:focus{
    text-decoration: none;
  }
  
  a:hover figcaption, a:focus figcaption{
    color: $brand-primary !important;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
  }
  
  img {
    margin: 0 auto 25px auto;
    max-width: 100%;
    max-height: 124px;
  }
}
.inside-carousel {
  &.car{
    figcaption{
      font-weight: 300;
      margin-right: 0
    }
  }
}
