@import "lib/bootstrap-sass/bootstrap/variables";

#conceptual-module{
  .conceptual-background{
    height: 200px;
    position: relative;
  }
  
  .title{
    background-color: rgba($brand-secondary, 0.8);
    display: table;
    height: 100%;
    padding: 15px;
    width: 100%;
  }
  
  h1{
    color: #000;
    display: table-cell;
    font-weight: 700;
    font-size: 2.143em;
    margin-top: 0px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
}

@media (min-width: $screen-xs-min) {
  
  #conceptual-module{
    h1{
      text-align: center;
    }
  }
  
}

@media (min-width: $screen-sm-min) {

  #conceptual-module{
    .conceptual-background{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      position: relative;
    }
  
    .title{
      background-color: rgba($brand-secondary, 0.8);
      display: block;
      position: absolute;
      /* width: 280px; */
      width: 50%;
    }

    h1{
      background: linear-gradient(to right, rgba(255,200,0,0) 60%, rgba(255,200,0,0.8) 100%);
      border-radius: 50px;
      display: block;
      font-weight: 700;
      font-size: 2.5em;
      margin-right: -50px;
      margin-top: 105px;
      padding: 20px;
      text-align: right;
      padding-right: 55px;
      /* width: 310px; */
      width: 115%;
    }
  }
  
}

@media (min-width: $screen-md-min){
  
  #conceptual-module{
    .title{
      width: 39%;
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #conceptual-module{
    .title{
      width: 32%;
    }
  }
  
}
