.highlights-module{

  .high-item{
    background-color: #fff;
    height: 405px;
    padding: 20px;
    position: relative;
  }
  
  h2{
    font-size: 1.929em;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #FFF;
  }
  
  p{
    color: #fff;
    padding: 5px 0;
  }
  
  a{
    bottom: 20px;
    margin: 40px 0 0 0;
    padding: 10px 30px;
    position: absolute;
  }
  
}
