.rw {
  display: inline-block;
  height: 20px;
  width: 19px;
  background-repeat: no-repeat;
  background-position: center left 50%;
}

.rw-gray {
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='gray'><feColorMatrix in='SourceGraphic' type='saturate' values='0' /></filter></svg>#gray");
  filter: grayscale(100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}

.rw-boomerang-right {
  background-image: url(../images/boomerang-down.png);
  height: 46px;
  width: 46px;
}

.rw-boomerang-left {
  @extend .rw-boomerang-right;

  transform: rotate(180deg);
}

.rw-chevron-top {
  background-image: url(../images/chevron-top.png);
}

.rw-chevron-down {
  background-image: url(../images/chevron-down.png);
}

.rw-chevron-right {
  @extend .rw-chevron-top;

  transform: rotate(90deg);
}

.rw-chevron-left {
  @extend .rw-chevron-top;

  transform: rotate(270deg);
}

.rw-hour-phone {
  background-image: url(../images/rw-hour-phone.png);
  background-repeat: no-repeat;
}

.rw-hour-cogs {
  background-image: url(../images/rw-hour-cogs.png);
  background-repeat: no-repeat;
}

.rw-hour {
  background-image: url(../images/rw-hour.png);
  background-repeat: no-repeat;
}
