h2{
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  b{
    color: $brand-primary;
    font-size: 1.5em;
  }
}

h2{
  text-transform: uppercase;
  small{
    color: #000000;
    display: block;
    font-size: 1.286em;
    font-weight: 700;
  }
  .big{
    color: $brand-secondary;
    font-size: 1.929em;
    font-weight: 700;
  }
}

p{
  color: #4c4c4c;
  margin: 10px 0 20px;
}

.c-b{
  clear: both;
}
