.used-filter {
  fieldset {
    border: 1px solid $gray-light;
  }
  
  legend {
    font-size: 1.25em;
    padding: 16px 20px;
    color: #000;
    background-color: $brand-secondary;
    margin: 0;
  }
  
  .checkbox {
    text-transform: uppercase;
    margin: 0 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    
    &:not(:last-child) {
      border-bottom: 1px solid $gray-light;
    }
  }
}

.filter-item-quantity {
  float: right;
}

.filter-control {
  border-bottom: 1px solid $gray-light;
}
