<div class="car inside-carousel">
  <a href="">
    <figure>
      <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
      <figcaption>Jeep Renegade</figcaption>
    </figure>
  </a>
</div>
