<section class="car-carousel">
    <div class="container">
      <h2>Conheça os Carros</h2>
      <div class="clearfix"></div>
     <ul class="slick-car">
      {% for carro in carros %}
      <li>{% include 'car-inside.html' %}</li>
      {% endfor %}
    </ul>
   </div>
</section>
