<div class="car">
  <a href="">
    <figure>
      <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
      <figcaption>Jeep Renegade</figcaption>
      <button type="submit" class="btn btn-default">conheça <img src="../assets/images/right-arrow.png" alt=""></button>
    </figure>
  </a>
</div>
