<div id="cars-list-structure-module">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
     <h1>Veículos Novos</h1>
    </div>
      {% for carro in carros if loop.index < 7 %}
      <div class="col-xs-12 col-sm-4 col-md-4">
        {% include 'car.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
