<section class="car-carousel">
  <div class="tabs-container">
    <div class="container">
      <h2>Escolha seu carro</h2>
      
      {# if mobile #}
      <div class="visible-xs">
        <button class="toggle-car-carousel toggle" data-toggle="collapse" data-target="#car-carousel">
          Selecione:
          <span class="car-carousel-category">{{ categorias[0].name }}</span>
          <span class="sr-only">Navegação alternativa</span>
          <i class="rw rw-gray rw-chevron-down"></i>
        </button>
        
        <ul class="nav nav-pills nav-stacked navbar-collapse collapse" role="tablist" id="car-carousel">
          {% for categoria in categorias %}
          <li role="presentation" {% if loop.first %}class="active"{% endif %}>
            <a href="#car-carousel-{{ categoria.id }}" aria-controls="{{ categoria.name }}" role="tab" data-toggle="tab">
              {{ categoria.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {# endif #}
      
      {% if not mobile %}
      <ul class="nav nav-tabs hidden-xs" role="tablist">
      {% endif %}
        {% for categoria in categorias %}
        <li role="presentation" {% if loop.first %}class="active"{% endif %}>
          <a href="#car-carousel-{{ categoria.id }}" aria-controls="{{ categoria.name }}" role="tab" data-toggle="tab">
            {{ categoria.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-content">
    {% for categoria in categorias %}
    <div role="tabpanel" class="container tab-pane{% if loop.first %} active{% endif %}" id="car-carousel-{{ categoria.id }}">
      <ul class="slick-car">
        {% for carro in carros if categoria.id == carro.category[0].id %}
        <li>{% include 'car.html' %}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>
