<section id="home-carousel">
  <div class="carousel slide" data-ride="carousel" id="main-carousel">
    <div class="carousel-inner" role="listbox">
      {% for b in banners if b.location == 'home' %}
      <div class="item {% if loop.first %}active{% endif %}" id="carousel-item-{{ loop.index }}">
        <div class="item-img"></div>
        {#
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-3">
              <div class="carousel-caption">
                <h2>Texto do Banner</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus unde numquam velit hic nisi mollitia adipisci, enim fugiat perferendis deleniti blanditiis illo nemo aut saepe labore et voluptatum placeat!</p>
                <button class="btn btn-default">Botão</button>
              </div>
            </div>
          </div>
        </div>
        #}
      </div>
      {% endfor %}
    </div>
    
    <div class="container">
      <div class="row">
        <ol class="carousel-indicators">
          {% for b in banners if b.location == 'home' %}
          <li data-target="#main-carousel" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %}active{% endif %}"></li>
          {% endfor %}
        </ol>
      </div>
    </div>
    
    {% set bannersQt = 0 %}
    {% for b in banners if b.location == 'home' %}
      {% set bannersQt = bannersQt + 1 %}
    {% endfor %}
   
    {% if bannersQt > 1 %}
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
    {% endif %}
  </div>
  
  <section class="carousel-context">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-4 pull-right">
        {% include 'quote-form.html' %}
        </div>
      </div>
    </div>
  </section>
</section>
