<h2>
    <small>Horário</small>
    <span class="big">de Funcionamento</span>
  </h2>
 <div class="box info-box-2">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-2">
    <div class="wrap-icon">
      <i class="rw rw-hour"></i>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-10">
   <div class="title">
      <h3>Agendamento de Serviços</h3>
    </div>
    <div class="unidade">
      <b>Segunda a sexta</b> 08h às 18h<br><b>Sábado</b> 08h às 12h
    </div>
    <div class="unidade">
     <b>Recife</b> (81) 3225-8385
    </div>
    <div class="unidade">
     <b>Recife</b> (81) 3225-8385
    </div>
  </div>
</div>
