<div class="box info-box-3">
  <div class="top-content col-xs-12 col-sm-5 col-md-3 col-lg-2">
    <div class="wrap-icon">
      <i class="rw rw-hour-cogs"></i>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-9 col-lg-10">
    <div class="title">
      <h3>Oficinas</h3>
    </div>
    <div class="unidade">
      <b>Segunda a sexta</b> 08h às 18h <br> <b>Sábado</b> 08h às 12h
    </div>
  </div>
</div>
