<div class="box info-box">
  <div class="top-content col-xs-12 col-sm-5 col-md-5">
    <div class="wrap-icon">
      <i class="rw rw-hour-phone"></i>
    </div>
    <div class="title">
      Agendamento <span class="big">DE SERVIÇOS</span>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7">
    <b>Segunda a sexta</b> 08h às 18h | <b>Sábado</b> 08h às 12h <br>
    <b>Recife</b> (81) 3225-8385 <b>Fortaleza</b> (85) 3535-6400 Opção 03
  </div>
</div>
