<div id="offers-structure-module">
  <div class="container">
    <div class="row">
     <div class="col-xs-12">
       <h1>Ofertas</h1>
       <hr>
     </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          {% for promocar in 0..5 %}
            <div class="col-xs-12 col-lg-6">
              {% include 'promo-car-2.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
