 <footer id="footer-module">
  <div class="container">
    <nav>
      <a class="footer-brand" href="#">
        <img src="../../src/images/logo.png" alt="Granvia Logo" class="logo">
      </a>
      <ul class="sitemap">
        <li><a href="">0 km</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Consórcio</a></li>
        <li><a href="">Seminovos</a></li>
        <li><a href="">Peças</a></li>
        <li><a href="">Acessórios</a></li>
        <li><a href="">Oficina</a></li>
        <li><a href="">Quem somos</a></li>
        <li><a href="">Fale conosco</a></li>
      </ul>
    </nav>
    
    <section class="fix-address">
      <div class="tab-content">
        <div class="tab-pane">
          <ul class="row">
            {% for add in 0..2 %}
              <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h3>Imbiribeira</h3>
                <address>
                  Av. Marechal Mascarenhas de Morais, 25. <br>
                  Imbiribeira, Recife, PE
                </address>
                <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    
    <section class="store-address">
    
    <div class="tab-content">
      <div id="fiat" class="tab-pane">
        <ul class="row">
          {% for add in 0..1 %}
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h3>Imbiribeira</h3>
              <address>
                Av. Marechal Mascarenhas de Morais, 25. <br>
                Imbiribeira, Recife, PE
              </address>
              <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="fiat">
            <div class="wrap-logo">
              <img src="src/images/logo-fiat.png" alt="Fiat ViaSul">
            </div>
            <div class="maker-name">
              <span>Fiat</span> 
              <b>ViaSul</b>
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
      <div id="renault" class="tab-pane">
        <ul class="row">
          {% for add in 0..2 %}
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h3>Imbiribeira</h3>
              <address>
                Av. Marechal Mascarenhas de Morais, 25. <br>
                Imbiribeira, Recife, PE
              </address>
              <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="renault">
            <div class="wrap-logo">
              <img src="src/images/logo-renault.png" alt="Renault Eurovia">
            </div>
            <div class="maker-name">
              <span>Renault</span> 
              <b>EuroVia</b>
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
      <div id="kia" class="tab-pane">
        <ul class="row">
          {% for add in 0..3 %}
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h3>Imbiribeira</h3>
              <address>
                Av. Marechal Mascarenhas de Morais, 25. <br>
                Imbiribeira, Recife, PE
              </address>
              <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="kia">
            <div class="wrap-logo">
              <img src="src/images/logo-kia1.png" alt="Kia Intervia">
            </div>
            <div class="maker-name">
              <span>Kia</span> 
              <b>Intervia</b>
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
      <div id="nissan" class="tab-pane">
        <ul class="row">
          {% for add in 0..5 %}
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h3>Imbiribeira</h3>
              <address>
                Av. Marechal Mascarenhas de Morais, 25. <br>
                Imbiribeira, Recife, PE
              </address>
              <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="nissan">
            <div class="wrap-logo">
              <img src="src/images/logo-nissan.png" alt="Nissan Eurovia">
            </div>
            <div class="maker-name">
              <span>Nissan</span> 
              <b>Eurovia</b>
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
      <div id="semi" class="tab-pane">
        <ul class="row">
          {% for add in 0..6 %}
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h3>Imbiribeira</h3>
              <address>
                Av. Marechal Mascarenhas de Morais, 25. <br>
                Imbiribeira, Recife, PE
              </address>
              <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="semi">
            <div class="wrap-logo">
              <img src="src/images/logo-semi.png" alt="Seminovos">
            </div>
            <div class="maker-name">
              <span>Semi</span> 
              <b>Novos</b>
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
        <div id="jeep" class="tab-pane">
          <ul class="row">
            {% for add in 0..6 %}
              <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h3>Imbiribeira</h3>
                <address>
                  Av. Marechal Mascarenhas de Morais, 25. <br>
                  Imbiribeira, Recife, PE
                </address>
                <a href="tel:8130155101">Fone: 81&nbsp;3015.5101</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="hidden-md hidden-lg item-maker item-mobile">
          <a class="accordion-click" data-maker="jeep">
            <div class="wrap-logo">
              <img src="src/images/logo-jeep.png" alt="Jeep">
            </div>
            <div class="maker-chevron">
              <i class="rw rw-chevron-top"></i>
            </div>
          </a>
        </div>
    </div>
    
    <ul class="makers-list row">
      <li class="col-xs-8 col-sm-12 item-maker">
        <a data-toggle="tab" href="#fiat">
          <div class="wrap-logo">
            <img src="src/images/logo-fiat.png" alt="Fiat ViaSul">
          </div>
          <div class="maker-name">
            <span>Fiat</span> 
            <b>ViaSul</b>
          </div>
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
      <li class="col-xs-8 col-sm-12 item-maker">
        <a data-toggle="tab" href="#renault">
          <img src="src/images/logo-renault.png" alt="Renault Eurovia">
          <div class="maker-name">
            <span>Renault</span> 
            <b>EuroVia</b>
          </div>
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
      <li class="col-xs-8 col-sm-12 item-maker align-chevron">
        <a data-toggle="tab" href="#kia">
          <img src="src/images/logo-kia1.png" alt="Kia Intervia">
          <div class="maker-name">
            <span>Kia</span> 
            <b>Intervia</b>
          </div>
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
      <li class="col-xs-8 col-sm-12 item-maker">
        <a data-toggle="tab" href="#nissan">
          <img src="src/images/logo-nissan.png" alt="Nissan Eurovia">
          <div class="maker-name">
            <span>Nissan</span> 
            <b>Eurovia</b>
          </div>
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
      <li class="col-xs-8 col-sm-12 item-maker">
        <a data-toggle="tab" href="#semi">
          <img src="src/images/logo-semi.png" alt="Seminovos">
          <div class="maker-name">
            <span>Semi</span> 
            <b>Novos</b>
          </div>
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
      <li class="col-xs-8 col-sm-12 item-maker align-chevron-jeep">
        <a data-toggle="tab" href="#jeep">
          <img src="src/images/logo-jeep.png" alt="Jeep">
          <div class="maker-chevron">
            <i class="rw rw-chevron-top"></i>
          </div>
        </a>
      </li>
    </ul>
    </section>
    <div class="copyright">
      <div>Desenvolvido por <a href="http://www.reweb.com.br">Reweb</a></div>
    </div>
  </div>
</footer>
