<header id="header-module">
  <nav class="navbar-contacts">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <button class="btn-location" data-toggle="popover" data-content="
            <ul class='location-select'>
              {% for l in locales %}
                <li {% if loop.first %}class='active'{% endif%}><a href=''><b>{{ l }}</b></a></li>
              {% endfor %}
            </ul>
          " data-placement="bottom" data-html="true" data-container=".btn-location">
            Você está em
            <br><b>Ceará</b>
            <i class="rw rw-chevron-down" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-8">
          <ul class="contacts">
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <span>Telefone para contato:</span>
              <a class="phone" href="tel:8133331234">81&nbsp;3333.1234</a>
            </li>
            <li>
              <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
              <span>Whatsapp:</span>
              <a class="phone" href="tel:81992238565">81&nbsp;99223.8565</a>
            </li>
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <span>Telefone para contato:</span>
              <a class="phone" href="tel:8133331234">81&nbsp;3333.1234</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-inline social-list">
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default navbar-static-top yamm">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Navegação alternativa</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="../../src/images/logo.png" alt="Granvia Logo" class="logo">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if not mobile %}
          <!-- Dropdown de carros novos -->
          <li class="dropdown yamm-fw visible-md visible-lg">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#lista-novos">0 km <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  {% for carro in carros %}
                  {% if loop.index < 7 %}
                  <div class="col-md-4">
                    {% include 'car.html' %}
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="visible-xs visible-sm"><a href="#lista-novos">0 km</a></li>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Consórcio</a></li>
          <li><a href="">Seminovos</a></li>
          <li><a href="">Peças</a></li>
          <li><a href="">Acessórios</a></li>
          <li><a href="">Oficina</a></li>
          <li><a href="">Quem somos</a></li>
          <li><a href="">Fale conosco</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
