<div id="promo-carousel-module">
  <div class="container">
    <h2>Ofertas Especiais</h2>
    <div class="slick-promo">
      {% for car in 0..5 %}
      <div class="promo-car col-xs-12">
        <img src="../../src/images/promo-car.png" alt="">
        <div class="promo-info">
         <span>JEEP</span>
          <p>RENEGADE 1.8 16V FLEX 4x4</p>
          <span>2012/2102</span>
          <b>R$ 86.290,00</b>
          <a href="">Ver Oferta</a>
        </div>

      </div>
      {% endfor %}
  </div>
</div>
