<div class="promo-car-2-module">
    <div class="promo-car">
     <div class="promo-img">
      <img class="img-responsive" src="../../src/images/promo-car-2.png" alt="">
     </div>
      <div class="promo-info">
      <span class="price">R$ 44.000.000</span>
      <h2>Jeep grand cherokee turbo diesel</h2>
      <ul class="promo-details">
        <li>Ano</li>
        <li>2007/2007</li>
        <li>Cor</li>
        <li>Preto</li>
      </ul>
        <a href="" class="btn btn-default">Quero Este Carro</a>
      </div>
    </div>
</div>
