<div id="schedule-module" class="schedule-granvia container">
  <div class="schedule">
    <div class="row">
      <div class="time col-xs-12 col-sm-6 col-md-4">
        <img src="assets/images/renegade-schedule.png" alt="">
      </div>
      <div class="time col-xs-12 col-sm-6 col-md-4">
        <h3>ViaSul Jeep - Dunas</h3>

        <time class="ico-time">
         <h4>Agendamento de Serviços</h4>
          Segunda a sexta:<wbr> 7:30h&nbsp;às&nbsp;18:00h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
      </div>
      <div class="time col-xs-12 col-sm-6 col-md-4">
        <h3>Caxangá</h3>

        <time class="ico-time">
         <h4>Agendamento de Serviços</h4>
          Segunda a sexta: 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
      </div>
    </div>
  </div>
</div>
