<div id="workshop-form-module">
  <div class="">
    <div class="workshop-form row">
      <div class="col-xs-12">
        <h2>
          <small>Agendamento</small>
          <span class="big">Oficina</span>
        </h2>
      </div>
      <form action="">
                
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
          <label for="name">Nome</label>
          <i class="fa fa-user"></i>
          <input name="name" id="name" type="text" placeholder="Nome" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="phone">Telefone</label>
          <i class="fa fa-phone"></i>
          <input name="phone" id="phone" type="text" placeholder="Telefone" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="email">E-mail</label>
          <i class="fa fa-envelope"></i>
          <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
          <label for="unidade">Loja</label>
          <i class="fa fa-map-marker"></i>
          <!-- <input name="unidade" id="unidade" type="text" placeholder="Selecione" class="form-control"> -->
          <select name="unidade" id="unidade" class="form-control">
            <option value="">Selecione</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="model">Modelo</label>
          <i class="fa fa-car"></i>
          <select name="model" id="model" class="form-control">
            <option value="">Selecione</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="placa">Placa</label>
          <i class="fa fa-car"></i>
          <input name="Placa" id="placa" type="text" placeholder="Placa" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="ano">Ano</label>
          <i class="fa fa-car"></i>
          <input name="Ano" id="ano" type="text" placeholder="Ano" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="km">Kilometragem</label>
          <i class="fa fa-dashboard"></i>
          <input name="Km" id="km" type="text" placeholder="Kilometragem" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="date">Data</label>
          <i class="fa fa-calendar"></i>
          <input name="date" id="date" type="date" placeholder="dd/mm/aaaa" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
          <label for="periodo">Período</label>
          <i class="fa fa-dashboard"></i>
          <input name="Periodo" id="periodo" type="text" placeholder="Selecione" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
          <label for="servico">Serviço</label>
          <i class="fa fa-cogs"></i>
          <input name="Servico" id="servico" type="text" placeholder="Selecione" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="message">Mensagem</label>
          <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-xs-12">
          <button class="btn btn-default" type="submit">Enviar</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
