@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/interna-style";

h1{
  border-left: 3px solid #ffc700;
  padding-left: 10px;
  margin-bottom: 30px;
}
#cars-list-structure-module{
  .car-category{
    margin: 15px 0;
    overflow: hidden;
    h2{
      border-bottom: 1px solid #ddd;
      color: #4c4c4c;
      font-weight: 700;
      padding: 5px;
    }
    .car figcaption{
      color: #4c4c4c;
    }    
  }
}
.car{
  margin-bottom: 30px;
}
