@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual-3";
h1 {
  border-left: 3px solid #ffc700;
  padding-left: 10px;
}

#offers-structure-module {
  .promo-car-2-module {
    .promo-car {
      margin-bottom: 20px;
      float: left;
      border: 1px solid #f2f2f2;
      border-bottom: 3px solid #ffc700;
      width: 100%;
      .promo-img {
        float: left;
      }
    }
    .promo-info{
      float: left;
      padding: 15px 15px 0 15px;
      max-width: 280px;
      .price{
        color: #ffc700;
        font-weight: 700;
        font-size: 17px;
      }
      h2{
        margin-top: 0;
        min-height: 35px;
      }
      ul{
        li{
          float: left;
          width: 50%;
          display: block;
        }
      }
      .btn-default{
        margin-top: 15px;
        background-color: $brand-tertiary;
        color: #FFF;
      }
      .promo-details {
        li{
          &:nth-child(odd){
          font-weight: 400;
          }
          &:nth-child(even){
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #offers-structure-module {
    .promo-car-2-module {
      .promo-img{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .promo-info{
        width: 100%;
        max-width: 100%;
        padding: 15px;
      }
    }
  }
}
