@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/parts-acessories-form";
@import "base/form";
@import "base/interna-style";

#parts-structure-module{
  padding: 30px 0;
  
  .info-box{
    i{
      height: 32px;
      width: 34px;
    }
  }
  
  form textarea{
    resize: vertical;
    width: 100%;
  }
}

@media (min-width: $screen-sm-min){
  .info-box{
    .top-content{
      padding-top: 5px;
    }
    .title{
      font-size: 0.9em;
    }
    .hours{
      font-size: 0.978em;
    }
  }
}

@media (min-width: $screen-md-min){
  .info-box{
    margin: 15px 0;
    .top-content{
      padding-top: 5px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  
  .info-box{
    height: 60px;    
    .top-content{
      padding-top: 0;
    }
    
    .wrap-icon{
      margin: 3px 20px 0;
    }
    
    .title{
      margin: 0 20px;
    }
    
    .hours{
      padding: 0 15px;
    }
    
  }
  
}
