@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/carousel-detail";
@import "base/tabs-2";

h1 {
  text-transform: uppercase;
  font-size: 1.95em;
  margin-top: 34px;
  margin-bottom: 30px;
  
  small {
    font-size: 0.675em;
  }
  
  .price {
    color: $brand-secondary;
    font-size: 1.1em;
    
    &::after {
      color: $gray-light;
      margin: auto 16px;
      content: '|';
    }
  }
}
