{% macro sprite(id, viewBox, classes) %}
{% set viewBox = viewBox or "0 0 1 1"%}
{% from _self import assets %}
<span class="sprite -{{id}} {{classes}}">
  <svg viewBox="{{viewBox}}"><use xlink:href="assets/images/sprites.svg#{{id}}" /></use></svg>
</span>
{% endmacro %}
